<div class="container-fluid footer">
    <div class="row">

        <div class="col-sm-8">
            <!--<img src="">
            <h1>PIZZERIA</h1>-->
            <h5>Copyright 2021 Pizzeria, All Rights reserved</h5>
        </div>

        <!--<div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About us</a>
            <a routerLink="contact">Contact us</a>
        </div>

        <div class="col-lg-2 ms-auto">
            <p>Follow us on</p>
            <a href="#"><i class="bi bi-youtube"></i>Youtube</a>
            <a href="#"><i class="bi bi-facebook"></i>Facebook</a>
            <a href="#"><i class="bi bi-instagram"></i>Instagram</a>
            <a href="#"><i class="bi bi-twitter"></i>Twitter</a>
        </div>
    -->

    </div>
</div>