<div class="container">
    <div class="row">

        <h1><b>Our Story</b></h1>
        <div>
            <p>We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza Ever!.</p>
            <p>Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle of a performance and even finding excuses to be disqualified in a football match.</p>
            <p>We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!</p>

        </div>

        <img src="https://food.unl.edu/newsletters/images/mise-en-plase.jpg" class="first">
        <div class="col-md-6 ms-auto">
            <h3>Ingredients</h3>
            <p>We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.</p>
        </div>


        <div class="col-md-6">
            <h3>Our Chefs</h3>
            <p>Our Chefs They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and stirring spoons (among other things). They make goodness so good, it doesn't know what to do with itself. We do though. We send it to you.</p>
        </div>
        <div class="col-md-6 ms-auto">
            <img class="second" src="https://media.istockphoto.com/photos/bakery-chef-cooking-bake-in-the-kitchen-professional-picture-id820461028?k=20&m=820461028&s=612x612&w=0&h=4bjdxRAKBeRh5P3ZbnYllBSPgd0UZfXbF3EsGA1IHVQ=">
        </div>

        <img src="../../assets/images/time.png" class="third">
        <div class="col-md-6 ms-auto">
            <p id="time">45 Minute Delivery</p>
        </div>
